@model DisastePOEApp.Models.GoodsDonation

@{
    ViewBag.Title = "Create";
}

<h2>Create Goods Donation</h2>

<div class="container">
    <div class="jumbotron">
        <h1>Donate Goods</h1>
        <p>Thank you for your generous contribution! Please fill out the form below to donate goods to our disaster relief efforts.</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Goods Donation Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #333;" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.category, new SelectList(new[] { "Clothes", "Non-Perishable Foods" }), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #333;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.items, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #333;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.items, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.items, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #333;" })
                <div class="col-md-10">
                    <input type="date" id="date" name="date" class="form-control">
                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // JavaScript to add date selection using Bootstrap Datepicker
        $(document).ready(function () {
            $('#date').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        });
    </script>
}