@model DisasterPOEApp.Models.ResourceAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResourceAllocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisasterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisasterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoneyDonationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyDonationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountAllocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountAllocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
