@{
    ViewBag.Title = "Donations Page";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="jumbotron">
        <h1>Support Disaster Relief Efforts</h1>
        <p>Your generous donations can make a significant impact in the lives of those affected by disasters. You can choose to donate goods or money to support our relief efforts.</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <button type="submit" formaction="@Url.Action("CreateUser", "GoodsDonations")" class="btn btn-primary btn-lg btn-block">
                    Donate Goods
                </button>
            </div>
            <div class="col-md-6">
                <button type="submit" formaction="@Url.Action("CreateUser", "MoneyDonations")" class="btn btn-success btn-lg btn-block">
                    Donate Money
                </button>
            </div>
        </div>
    }

    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}