@model DisasterApp.Models.MoneyDonation
@{
    ViewBag.Title = "Menu";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Disaster Management System</h1>
        <p>This platform allows you to request assistance in the event of a disaster, make donations to support disaster relief efforts, and manage resources efficiently.</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <button type="submit" formaction="@Url.Action("CreateUser", "Disasters")" class="btn btn-primary btn-lg btn-block">
                    Disaster Request
                </button>
            </div>
            <div class="col-md-6">
                <button type="submit" formaction="@Url.Action("Donations", "Home")" class="btn btn-success btn-lg btn-block">
                    Donate
                </button>
            </div>
        </div>
    }

   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}